<h1>My Lists</h1>

<a href="/task_lists/new">Add Task List</a>

<p class="maroon">
<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1><%= task_list.name %></h1>
  </section>

<% end %>
</p>
